rfml/tiny-rfml.dtd

<!ELEMENT rfml          (hn | ft)* >
<!ELEMENT hn            (pattop, (con | var | struc | callop)*) >
<!ELEMENT ft            (pattop, (con | var | struc | callop)+) >
<!ELEMENT callop        ((con | var | struc | callop)+) >
<!ELEMENT pattop        ((con | var | struc)+) >
<!ELEMENT struc         ((con | var | struc)+) >
<!ELEMENT con           (#PCDATA)>
<!ELEMENT var           (#PCDATA)>
